header{
    background-color: #f63232;
    padding: 20px;
    text-align: center;

    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

header h1 {
    color: whitesmoke;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 45px;
}

.banner{
    position: relative;
}

.banner img{
    max-width: 100%;
}

.banner .welcome{
    position: absolute;
    top: 20%;
    left: 0%;
    background-color: rgb(255, 200, 0);
    color: whitesmoke;
    padding: 20px;
}

.banner h2 {
    font-size: 65px;
}

.banner h2 span {
    font-size: 1.3em;
}

nav {
    background-color: #f4f4f4;
    padding: 10px;
    position: sticky;
    top: 148px;
    
}

nav ul{
    white-space: nowrap;
    margin: 0 auto;
    max-width: 1400px;
}

nav li {
    width: 25%;
    display: inline-block;
    font-size: 24px;
}

nav li a {
    text-decoration: none;
    color: #4b4b4b;
}

nav li a.join{
    color: #f63232;
}